server:
  port: 8082

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/products_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true

security:
  jwt:
    secret: ${JWT_SECRET}
    issuer: ${JWT_ISSUER:oswaldo-store}
    expirationMs: ${JWT_EXPIRATION_MS:3600000}
